<div class="artists">
  <div class="artists-content">
    <div class="artists-title">
      Join leading artists around the world
    </div>
    <div class="artists-pics-container">
      <app-artist img="assets/images/geva.png"
                category="Musicians"
                name="Geva Alon"
                prof="Rock-Folk artist">
      </app-artist>
      <app-artist img="assets/images/kickLee.png"
                  category="Producers"
                  name="Kick Lee"
                  prof="Composer-Flox">
      </app-artist>
      <app-artist img="assets/images/vlad.png"
                  category="Composers"
                  name="Vlad Morleg"
                  prof="Classical piano">
      </app-artist>
      <app-artist img="assets/images/davis.png"
                  category="Agents"
                  name="Davis Absol"
                  prof="Agent">
      </app-artist>
    </div>
    <div class="artists-sub-title">
      Keep doing your thing
    </div>

    <div class="suggestions-container">
      <app-suggestion title="Keep your rights"
                      subTitle="It’s your music and you keep all of the rights.">
      </app-suggestion>
      <app-suggestion title="Revenue"
                      subTitle="Join the growing sync-licensing market and tap into a whole new revenue stream.">
      </app-suggestion>
      <app-suggestion title="Inspire"
                      subTitle="Let your music help to tell the story and be the soul of films around the world.">
      </app-suggestion>
      <app-suggestion title="Non-exclusive"
                      subTitle="You can license with Artlist and still distribute/license your music anywhere else you choose.">
      </app-suggestion>
      <app-suggestion title="Expand your reach"
                      subTitle="See your social and streaming channels grow as your music is recognized in thousands of films worldwide.">
      </app-suggestion>
      <app-suggestion title="Creative community "
                      subTitle="Distribute your music through one of the top music licensing platforms in the world, and be part of a select group of composers and indie artists.">
      </app-suggestion>
    </div>
  </div>

</div>
